{% if isLoggedIn %}
    {% extends 'base/header_footer_loggedin.html' %}
{% else %}
    {% extends 'base/header_footer.html' %}
{% endif %}

{% block page_title %}Description{% endblock page_title %}

{% set page_style = 'styles/view-description.css' %} <!-- Dynamically set the CSS file -->
{% set page_script = 'scripts/view-description.js' %} <!-- Dynamically set the JS file -->

{% block content %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col">
            <h2 class="d-inline event-title">{{ event.event_name }}</h2>
            <hr class="d-inline" style="width: 50px; height: 2px; background-color: #343a40; border: none;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ event.event_thumbnail }}" class="img-fluid event-image" alt="{{ event.event_name }}">
        </div>
        <div class="col-md-6">
            <h3>Description</h3>
            <p class="event-description">{{ event.event_description }}</p>
            <h4>Genre</h4>
            <p class="event-genre">{{ event.genre }}</p>
            <h4>Date and Time</h4>
            <p class="event-date-time">{{ event.date }} {{ event.time }}</p>
            <h4>Venue</h4>
            <p class="event-venue">{{ event.venue }}</p>
            <h4>City</h4>
            <p class="event-city">{{ event.city }}</p>
            <a href="{% if isLoggedIn %}/select_seats?event_id={{ event.event_id }}{% endif %}" class="btn book-ticket-btn" style="background-color: #212529; color: white;" {% if not isLoggedIn %}disabled{% endif %}>Book Ticket</a>
            {% if not isLoggedIn %}
                <p>Please login to book your tickets.</p>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock content %}